@{
    ViewBag.Title = "Christmas & Snow Day";
    ViewBag.PgHdrPhoto = "photo-wide-christmas.jpg";
    ViewBag.MetaDescription = "Come visit our family owned and operated farm for Snow Day and Christmas Trees. We also have a market with seasonal gifts.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DateTime snowDayBeginDate = Convert.ToDateTime(Resources.Strings.SnowDayBeginDate);
    DateTime snowDayEndDate = Convert.ToDateTime(Resources.Strings.SnowDayEndDate);
}

@Html.Partial("_PageHeader")


<div class="row content-block blue medium-collapse box white-border">
    <div class="large-8 medium-6 column">
        <div class="inner">
            <h2>Visit the farm for a day in the snow!</h2>
            <p>
                Mother Nature's Farm annual snow day @snowDayBeginDate.ToLongDateString()
                from @snowDayBeginDate.ToString("h:mm tt") to @snowDayEndDate.ToString("h:mm tt") Bring your mittens and a snow tube, grab your 
                friends and neighbors to come join the fun at Mother Nature's Farm.
            </p>
            
            <div class="image-box content float-right border blue" style="background-image: url(/Content/Images/photo-snowday-1.jpg);"><img src="/Content/Images/img.png" alt="Snow Day at Mother Nature's Farm" /></div>

            <p>
                $10 per person includes the Snow Hill, Hayride, Spider Web Crawl, Straw Bale Maze, 
                Santa and the animals. Maneau's Munchies will be open on the weekends for snack 
                food, etc hotdogs, popcorn, cotton candy, chips, soda and hot drinks.
            </p>

            <p>
                We have fresh cut Douglas Firs and Noble Firs for sale. Bring the family 
                for the hunt for the perfect tree for your holidays!
            </p>

            <div class="image-box content float-left border blue" style="background-image: url(/Content/Images/photo-snowday-2.jpg);"><img src="/Content/Images/img.png" alt="Snow Day at Mother Nature's Farm" /></div>

            <p>
                We are open from 3:00 to 9:00 Monday through Thursday, and Friday, 
                Saturday & Sunday we are open from 9:00 to 9:00.
            </p>
            <p>
                <strong>Please note that we close at 3:00 on Christmas Eve.</strong>
            </p>
        </div>
    </div>
    <div class="large-4 medium-6 column sidebar sidebar-right">
        <div class="inner">
            <h3>Holiday Hours</h3>
            <p>Monday - Thursday<br>3pm to 9pm</p>
            <p>Friday, Saturday, Sunday<br>9am to 9pm</p>
            <p>Snow Day, @snowDayBeginDate.ToString("MMMM dd, yyyy")<br />@snowDayBeginDate.ToString("h:mm tt") to @snowDayEndDate.ToString("h:mm tt")</p>
            <p>Christmas Eve<br>9am to 3pm</p>

            <div class="image-box" style="background-image: url(/Content/Images/photo-santa-isaac.jpg);"><img src="/Content/Images/img.png" alt="Christmas Market at Mother Nature's Farm" /></div>
            <br />
            <p>Accept Cash and all major credit cards.</p>
            <p>
                $10 minimum on credit card purchases.
            </p>
            <p>
                Sales inside the farm are CASH ONLY.
            </p>
        </div>
    </div>
</div>