@model mothernaturesfarm.web.ViewModels.VMPartyReservation
@{
    ViewBag.Title = "Party Reservations";
    ViewBag.PgHdrPhoto = "photo-wide-animal-1.jpg";
    ViewBag.MetaDescription = "Bring your class for a fun farm experience. Trips include a pumpkin, a hayride, air bounce, feeding the farm animals and Alexander's Adventure Maze.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts {
    @Scripts.Render("~/scripts/pgpartyres");
}
@Html.Partial("_PageHeader")

<div class="row content-block green medium-collapse box white-border">
    <div class="large-8 medium-6 column">
        <div class="inner">
            <h2>Reservation Form</h2>
            <p>Please complete and submit the following form to schedule your upcoming birthday party. Please note that birthday party reservations require a minimum of 10 children.</p>
            
            @using (Html.BeginForm("PartyReservation", "Home"))
            {
                <div class="form-ctr">
                    <div class="group">
                        <h4>Contact Information</h4>
                        <label>
                            Parent/Guardian Name
                            @Html.TextBoxFor(m=>m.ParentName, new { placeholder = "Parent/Guardian Name...", required="required"})
                        </label>
                        <label>
                            Email Address
                            @Html.TextBoxFor(m => m.ParentEmail, new { placeholder = "Email Address...", type="email", required = "required" })
                        </label>
                        <label>
                            Home Phone
                            @Html.TextBoxFor(m => m.HomePhone, new { placeholder = "Home Phone...", required = "required" })
                        </label>
                        <label>
                            Cell Phone
                            @Html.TextBoxFor(m => m.CellPhone, new { placeholder = "Cell Phone...", required = "required" })
                        </label>                    
                        <div class="row subgroup">
                            <div class="column medium-12">
                                <label>
                                    Street Address
                                    @Html.TextBoxFor(m => m.StreetAddress, new { placeholder = "Street Address...", required = "required" })
                                </label>                                                
                            </div>
                            <div class="column medium-6">
                                <label>
                                    City
                                    @Html.TextBoxFor(m => m.City, new { placeholder = "City...", required = "required" })
                                </label>                                                
                            </div>
                            <div class="column medium-3">
                                <label>
                                    State
                                    @Html.DropDownListFor(m=>m.SelectedState, Model.States)
                                </label>                                                
                            </div>
                            <div class="column medium-3">
                                <label>
                                    Zip Code
                                    @Html.TextBoxFor(m => m.PostalCode, new { placeholder = "Zip Code...", required = "required" })
                                </label>                            
                            </div>
                        </div>
                    </div>
                    <div class="group">
                        <h4>Party Information</h4>
                        <label>
                            Child's Name
                            @Html.TextBoxFor(m => m.ChildName, new { placeholder = "Child's Name...", required = "required" })
                        </label>
                        <label>
                            Child's Age
                            @Html.TextBoxFor(m => m.ChildAge, new { placeholder = "Child's Age...", required = "required" })
                        </label>
                        <div class="row subgroup">
                            <div class="column medium-6">
                                <label>
                                    Date
                                    @Html.TextBoxFor(m => m.PartyDate, new { placeholder = "Date...", required = "required", id = "PartyDate" })
                                </label>
                            </div>
                            <div class="column medium-6">
                                <label>
                                    Time
                                    @Html.DropDownListFor(m => m.SelectedPartyTime, Model.PartyTimes)
                                </label>
                            </div>
                        </div>
                        <label>
                            Number of Kids (10 minimum, $10.00ea.)
                            @Html.TextBoxFor(m => m.NumberOfKids, new { placeholder = "Number of Kids (10 minimum)...", required = "required", min = "10" })
                        </label>
                        <label>
                            Number of Adults ($5.00ea)
                            @Html.TextBoxFor(m => m.NumberOfAdults, new { placeholder = "Number of Adults...", required = "required" })
                        </label>                        

                        <label style="margin-bottom: 0;">Add Fire Pit Area</label>
                        <fieldset>
                            <legend>Add Fire pit</legend>
                            <label for="option2">
                                @Html.CheckBoxFor(m => m.AddFirePitArea, new { id = "option2" })
                                Fire Pit Area (+$25)
                            </label>
                        </fieldset>

                    </div>
                    <div class="group">
                        <h4>Comments, Questions or Additional Requests</h4>
                        <label>
                            @Html.TextAreaFor(m=>m.Comments, new {placeholder = "..."})
                        </label>
                    </div>
                    <input type="submit" value="send" class="button" />
                </div>
            }
        </div>
    </div>
    <div class="large-4 medium-6 column sidebar sidebar-right">
        <div class="inner">
            <h3>Please Note</h3>
            <p>10 child minimum</p>
            <p>
                Party Area: $100.00<br />
                Children: $10.00<br />
                Adults: $5.00<br />       
            </p>
            <p>Accept Cash and all major credit cards.  Debit cards NOT accepted.</p>

            <br>
            <h3>Questions</h3>
            <p>Call<br>
                <a href="tel:1-480-892-5874" class="telephone">480-892-5874</a><br>
                OR<br>
                <a href="/contactus" class="button expanded">Send A Message</a></p>
            
            <h3>Invitationas</h3>
            <p>
                <a href="https://www.evite.com/event/create/?add=1663%20East%20Baseline%20Road&change_design_category=featured&ct=Gilbert&eventType=kids_corner&event_type=&nm=Mother%20Nature%27s%20Farms&st=AZ&template=farmanimals&zip=85233" target="_blank" class="button expanded">Create your Party Invitations</a>
            </p>
        </div>
    </div>
</div>