<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - Mother Nature's Farm in Gilbert Arizona</title>
    
    <meta name="description" content="@ViewBag.MetaDescription">

    <!-- Favicons & Facebook sharing -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#e5b57a">
    
    <meta property="og:image" content="/Content/Images/fbimage.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Mother Nature's Farm in Gilbert Arizona">
    <meta name="twitter:description" content="Come visit our family owned and operated farm for our Halloween Pumpkin Patch, or Snow Day and Christmas Trees. We also have a market with seasonal gifts.">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Carter+One|Open+Sans:400,800" rel="stylesheet">

    <!-- replace with only the icons needed
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"-->

    @Styles.Render("~/styles/default")
    @Scripts.Render("~/scripts/modernizr")
</head>
<body>
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
    <div class="site-container">
       
        <div class="row">
            <div class="large-12 column">
                <div class="top-bar">
                    <div class="top-bar-left">
                        <div class="menu-logo"><a href="/"><img src="/Content/Images/mothernaturesfarm-logo.png" alt="Mother Nature's Farm in Gilbert AZ" /></a></div>
                        <ul class="dropdown menu main-menu" data-dropdown-menu id="header-menu">
                            <li class="home"><a href="/">Home</a></li>
                            <li><a href="/ourstory">Our Story</a></li>
                            <li><a href="/calendar">Calendar</a></li>
                            <li><a href="/parties">Groups &amp; Parties</a></li>
                            <li><a href="/location">Directions</a></li>
                            <li>
                                <a class="more-link" href="/">More</a>
                                <ul class="menu submenu">
                                    <li><a href="/faq">FAQ</a></li>
                                    <li><a href="/contactus">Contact Us</a></li>
                                    <li><a href="/coupons">Coupons</a></li>
                                    <li><a href="/tourreservation">Tour Reservations</a></li>
                                    <li><a href="/partyreservation">Party Reservations</a></li>
                                    <li><a href="/animals">The Animals</a></li>
                                    <li><a href="/activities">Farm Activities</a></li>
                                    <li><a href="/futureplans">Future Plans</a></li>
                                    <li><a href="/pumpkinpatch">Pumpkin Patch</a></li>
                                    <li><a href="/christmas">Christmas</a></li>
                                </ul>
                            </li>
                            <li class="social"><a href="https://www.facebook.com/Mother-Natures-Farm-119496743669/" target="_blank"><span class="facebook-icon black">Facebook</span></a></li>
                        </ul>
                        <div class="menu-toggle">
                            <button class="button menu-icon-ani" id="menuToggle"><span>Menu</span></button>
                        </div>
                    </div>
                    <div class="top-bar-right ">
                        <div class="top-bar-hours">
                            <strong>October Hours</strong>
                            <em>9am to 9pm</em>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            @RenderBody()
        </div>

    </div>

    <div class="footer-scene">
        <div class="pumpkins"><img src="/Content/Images//scene-pumpkins.png" alt="Pumpkins at Mother Nature's Farm" /></div>
        <div class="fence">&nbsp;</div>
        <div class="grass"><img src="/Content/Images//scene-grass.png" alt="Grass on the Farm" /></div>
        <div class="clouds-ctr">
            <div class="clouds front">&nbsp;</div>
            <div class="clouds medium">&nbsp;</div>
            <div class="clouds back">&nbsp;</div>
        </div>
    </div>
    <div class="footer">

        <div class="row footer-main-row">
            <div class="medium-12 column">
                <a href="/" class="logo"><img src="/Content/Images//mothernaturesfarm-logo-white.png" alt="Mother Nature's Farm - Gilbert AZ" /></a>
            </div>
            <div class="medium-6 column footer-left">
                <strong><a href="tel:1-480-892-5874" class="telephone">(480) 892-5874</a></strong>
                <span>Fax: (480) 507-0074</span>
            </div>
            <div class="medium-6 column footer-right">
                <a href="https://www.google.com/maps?f=q&source=embed&hl=en&geocode&q=1663+E.+Baseline+RD.,+Gilbert,+AZ+85233-1542&sll=37.0625,-95.677068&sspn=54.489258,113.818359&ie=UTF8&hq&hnear=1663+E+Baseline+Rd,+Gilbert,+Maricopa,+Arizona+85233&ll=33.376412,-111.795502&spn=0.034404,0.054932&z=14&iwloc=A" target="_blank">
                    <strong>1663 E. Baseline Rd. Gilbert, AZ 85233</strong>
                    <span>Located On Baseline Just East of Stapley</span>
                </a>
            </div>
        </div>
        <div class="row footer-bottom-line">
            <div class="medium-3 small-6 column">
                <ul>
                    <li><a href="/calendar">Calendar</a></li>
                    <li><a href="/location">Directions</a></li>
                    <li><a href="/coupons">Coupons</a></li>
                    <li><a href="/contactus">Contact</a></li>
                </ul>
            </div>
            <div class="medium-3 small-6 column">
                <ul>
                    <li><a href="/ourstory">Our Story</a></li>
                    <li><a href="/animals">The Animals</a></li>
                    <li><a href="/activities">Farm Activities</a></li>
                    <li><a href="/futureplans">Future Plans</a></li>
                </ul>
            </div>
            <div class="medium-3 small-6 column">
                <ul>
                    <li><a href="/parties">Groups &amp; Parties</a></li>
                    <li><a href="/tourreservation">Tour Reservations</a></li>
                    <li><a href="/partyreservation">Party Reservations</a></li>
                    <li><a href="/faq">FAQ</a></li>
                </ul>
            </div>
            <div class="medium-3 small-6 column">
                <ul>
                    <li><a href="/pumpkinpatch">Pumpkin Patch</a></li>
                    <li><a href="/christmas">Christmas</a></li>
                    <li><a href="/">Home</a></li>
                    <li>&nbsp;</li>
                </ul>
            </div>

        </div>
        <div class="row column copyright"><a href="/">&copy; @DateTime.Now.ToString("yyyy") Mother Nature's Farm</a></div>

    </div><!-- .footer -->
    
@Scripts.Render("~/scripts/jquery")
@Scripts.Render("~/scripts/common")
   
<script src="/Content/Scripts/moment.min.js"></script>
<script src="/Content/Scripts/fullcalendar.min.js"></script>
<script src="/Content/Scripts/gcal.min.js"></script>

@RenderSection("scripts", required: false)

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-54629411-2', 'auto');
    ga('send', 'pageview');
</script>
    
</body>
</html>
